.chart-view-parent
  width: 100%
  height: auto
  display: flex
  flex-direction: column
  align-items: center

.content-box //This box just limits the contents width
  width: 80%

.vertical-flex-body
  background-color: green
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  // flex-wrap: wrap
  align-content: stretch
  align-items: stretch


.control-pane
  width: 100%
